<div class="main--index">
  <div class="main--index--headers">
    <p class="main--index--headers--header main--index--headers--header--name"><%= link_to "Name", clock_events_path(sort_by: "name") %></p>
    <p class="main--index--headers--header main--index--headers--header--in"><%= link_to "Time In", clock_events_path(sort_by: "time_in") %></p>
    <p class="main--index--headers--header main--index--headers--header--out"><%= link_to "Time Out", clock_events_path(sort_by: "time_out") %></p>
  </div>
  <div class="main--index--entries">
    <% clock_events.each do |clock_event| %>
      <div class="main--index--entries--entry">
        <p class="main--index--entries--entry--name"><%= clock_event.name %></p>
        <p class="main--index--entries--entry--in"><%= pretty_time(clock_event.time_in) %></p>
        <p class="main--index--entries--entry--out"><%= pretty_time(clock_event.time_out) if clock_event.time_out %></p>
      </div>
    <% end %>
  </div>
</div>
