<!DOCTYPE html>
<html>
  <head>
    <title>Clocker.</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("favicon.ico") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header--title">
        <%= link_to root_path, class: 'header--title--link' do %>
          <p class="header--title--text">Cl<span class="header--title--text--o"><%= image_tag "clock.png" %></span>cker.</p>
        <% end %>
      </div>
      <%= render "clock" %>
    </div>

    <div class="main">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>

      <%= yield %>
      <%= console if Rails.env.development? %>

      <!-- This function pulls the timezone from the user's browser and sets a cookie with that information -->
      <script type="text/javascript">
        $(function(){
          var tz = jstz.determine();
          Cookies.set('timezone', tz.name(), { path: '/' });
        });
      </script>
    </div>
  </body>
</html>
